DEBUG=1 если запуск в режиме отладки, иначе 0
LOCAL=1 если запуск локально, иначе 0

POSTGRES_DB=messeger_db
POSTGRES_HOST=IP адрес
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD='Пароль администратора'

SECRET_KEY='Секретный ключ'
ALGORITHM='HS256'   - алгоритм шифрования
ACCESS_TOKEN_EXPIRE_MINUTES=15  - время жизни access токена
REFRESH_TOKEN_EXPIRE_DAYS=7     - время жизни refresh токена
ISS="Client name"

REDIS_HOST= IP адрес
REDIS_PASSWORD='Пароль'
REDIS_USER=admin
REDIS_USER_PASSWORD='Пароль администратора'




